<?xml version="1.0" ?>
<robot name="Robot 1">
    <webots>
        <device reference="ds0" type="DistanceSensor">
            <ros>
                <topicName>/robot_1/left_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="ds1" type="DistanceSensor">
            <ros>
                <topicName>/robot_1/right_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="GPS0" type="GPS">
            <ros>
                <topicName>/gps_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>60</updateRate>
            <topicName>/robot_1/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial_unit</inertialUnitName>
        </plugin>
        <plugin type="blockchain_bots_sim.my_robot_driver.MyRobotDriver" />
    </webots>
</robot>